<% content_for :head do %>
  <%= stylesheet_link_tag "home" %>
<% end %>

<div style="margin-top:20px;">
  <%@produtos.each do |p| %>

    <div class="produto_promocao">
      <div class="produto_imagem">
         <a href="<%= url_for :controller => :produtos, :action => :visualizar, :id => p.id %>">
           <%= image_tag p.get_rand_image_path, :alt => p.titulo, :border => 0 %>
         </a>
      </div>
      <p>
        <a href="<%= url_for :controller => :produtos, :action => :visualizar, :id => p.nome %>">
          <%= "#{p.titulo[0..18]} #{' ...' if p.titulo.length > 18}" %>
          <br />
          R$ <%= p.preco %>
        </a>
      </p>
    </div>
  <%
  end
  %>
</div>