<% content_for :head do %>
  <%= stylesheet_link_tag "home" %>
<% end %>

<div style="margin-top:20px;">
  <%@produtos.each do |p| %>

    <div class="produto_promocao">
      <div class="produto_imagem">
         <a href="<%= url_for :controller => :produtos, :action => :visualizar, :id => p.nome %>">
           <%= image_tag p.get_rand_image_path, :alt => p.titulo, :border => 0 %>
         </a>
      </div>
      <div>
        <br/>
        <p>
          <a href="<%= url_for :controller => :produtos, :action => :visualizar, :id => p.nome %>">
            <%= "#{p.nome[0..30]} #{' ...' if p.nome.length > 30}" %>
          </a>
        </p>
      </div>
    </div>
  <%
  end
  %>
</div>