<h1>New imagem</h1>

<% form_for(@imagem) do |f| %>
 

  <p>
    <%= f.label :titulo %><br />
    <%= f.text_field :titulo %>
  </p>
  <!--p>
    Imagem<br />
    <%= f.file_field :imagem %>
  </p-->
  <p>
    caminho<br />
    <%= f.text_field :caminho %>
  </p>
  <p>
    <%= f.label :produto %><br />
    <%= select('imagem', 'produto_id', Produto.all.collect{|p| [ p.nome, p.id ] }) %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', imagems_path %>