<p>
  <b>Titulo:</b>
  <%=h @imagem.titulo %>
</p>

<p>
  <b>Caminho:</b>
  <%=h @imagem.caminho %>
</p>

<p>
  <b>Produto:</b>
  <%=h Produto.find(@imagem.produto).nome %>
</p>

<p>
  <b>Imagem:</b><br />
  <%= image_tag "upload/" + @imagem.caminho %>
</p>


<%= link_to 'Editar', edit_imagem_path(@imagem) %> |
<%= link_to 'Voltar', imagems_path %>