<h1>Editar produto</h1>

<% form_for(@produto,:html => {:multipart => true}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </p>
  <p>
    <%= f.label :titulo %><br />
    <%= f.text_field :titulo %>
  </p>
  <p>
    <%= f.label :descricao %><br />
    <%= f.text_area :descricao %>
  </p>
  <p>
    <%= f.label :marca %><br />
    <%= f.text_field :marca %>
  </p>
  <p>
    <%= f.label :modelo %><br />
    <%= f.text_field :modelo %>
  </p>
  <p>
    Descri&ccedil;&atilde;o em html:<br />
    <%= f.file_field :descricao_filename %>
  </p>
  <p>
    <%= f.label :preco %> R$<br />
    <%= f.text_field :preco %>
  </p>
  <p>
    <%= f.label :categoria %><br />
    <%= select('produto', 'categoria_id', Categoria.all.collect {|p| [ p.nome, p.id ] }, :selected => @produto.categoria) %>
  </p>
  <p>
    <%= f.label :sub_categoria %><br />
    <%= select('produto', 'sub_categoria_id', SubCategoria.all.collect {|p| [ p.nome, p.id ] }, :selected => @produto.categoria) %>
  </p>
  <p>
    <%= f.label :promocao %><br />
    <%= f.check_box :promocao %>
  </p>
  <p>
    <%= f.submit 'Atualizar' %>
  </p>
<% end %>

<%= link_to 'Visualizar', @produto %> |
<%= link_to 'Voltar', :controller => :usuarios, :action => :index %>