<h1>Produtos</h1>

<table width="100%" border="1">
  <tr>
    <th>Nome</th>
    <th>Titulo</th>
    <th>Descricao</th>
    <th>Marca</th>
    <th>Modelo</th>
    <th>Preco</th>
    <th>Categoria</th>
    <th>Sub categoria</th>
    <th>Promocao</th>
    <th colspan="3">Acao</th>
  </tr>

<% @produtos.each do |produto| %>
  <tr>
    <td><%=h produto.nome %>&nbsp;</td>
    <td><%=h produto.titulo %>&nbsp;</td>
    <td><%=h produto.descricao %>&nbsp;</td>
    <td><%=h produto.marca %>&nbsp;</td>
    <td><%=h produto.modelo%>&nbsp;</td>
    <td><%=h produto.preco %>&nbsp;</td>
    <td><%= Categoria.find(produto.categoria).nome unless produto.categoria.nil? %>&nbsp;</td>
    <td><%=h SubCategoria.find(produto.sub_categoria).nome unless produto.sub_categoria.nil? %>&nbsp;</td>
    <td><%=h produto.promocao %>&nbsp;</td>
    <td><%= link_to 'Mostrar', produto %></td>
    <td><%= link_to 'Editar', edit_produto_path(produto) %></td>
    <td><%= link_to 'Remover', produto, :confirm => 'Tem certeza?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Cadastrar novo produto', new_produto_path %> <%= link_to 'Voltar', :controller => :usuarios, :action => :index %>