<% content_for :head do %>
  <%= stylesheet_link_tag "produtos" %>
<% end %>

<div id="produtos">
  <div>
    <div class="produtos_menu">
      <div id="top"></div>
      <div id="middle">
        <ul class="menu">
            
            <% @categorias.each do |c|%>
            <li class='categoria'><%= link_to c.nome, {:controller => :produtos, :action => c.nome, :id => 1 } %><p class="legenda">(Listar todas)</p></li>
              <% @subCategorias.each do |sc|%>
                <% if (c.id == sc.categoria.id) %>
                   <%= "<li class='subCategoria'>" %>
                   <%= link_to sc.nome, {:controller => "Produtos/" + c.nome, :action => sc.nome, :id => 1 } unless sc.blank? %>
                   <%= "</li>" %>                   
                <% end %>
            <% end %>
            <li>&nbsp;</li>
          <% end %>
        </ul>
      </div>
      <div id="bottom"></div>
    </div>

    <div style="float:left; height: 800px; width:200px;">
    <% @produtos.each do |p| %>
      <div class="item">
        <div class="coluna" style="width:140px;">
          <%= link_to (image_tag( p.get_rand_image_path, :size =>"150x130", :alt => p.titulo), { :action => :visualizar, :id => p.id}) %>
        </div>

        <div class="coluna" style="width:435px; margin-left:10px;">
          <table>
            <th>
              <td></td>
              <td></td>
            </th>
            <tr>
              <td colspan="2"><p class="nome"><%= link_to p.nome, { :action => :visualizar, :id => p.id} %></p></td>
            </tr>
            <tr>
              <td><p class="titulo"><%=p.titulo%></p></td>
              <td><p class="preco">R$ <%=p.preco%>,00 </p></td>
            </tr>
          </table>
          <p class="descricao"><%=p.descricao%></p>
        </div>
      </div>
    <% end %>
    </div>
  </div>

    <div id="paginas">
      <% if @pagina.to_i > 1 %>
        <%= link_to 'Voltar', {:controller => :produtos, :action => @selCat.to_s, :id => @pagina.to_i - 1 } %>
      <% end %>

      <%
        lista = ""
        logger.warn "pag= " + @totPag.to_s
        1.upto(@totPag) { |i|

          lista = lista + "#{link_to i, {:controller => :produtos,
                                         :action => @selCat,
                                         :id => i
                                        },
                                         :class => (i === @pagina.to_i ? 'selected' : '')} "
                             }
      %>
      <%=lista%>

      <% if @totPag.to_i > @pagina.to_i %>
        <%= link_to "Avancar", {:controller => :produtos, :action => @selCat, :id => @pagina.to_i + 1 } %>
      <% end %>
    </div>

</div>