<% content_for :head do %>
  <%= stylesheet_link_tag "produtos" %>
<% end %>

<div id="produtoProfile">
  <div id="content">
    <h1><%= @produto.nome %></h1>
    <h2><%= "#{@produto.titulo} - R$ #{@produto.preco}" %></h2>

    <table width="100%">
      <thead>
        <th>
          <td></td>
          <td></td>
          <td></td>
        </th>
      </thead>

      <tbody>
        <tr>
          <td rowspan="5" colspan="2"><%= image_tag @produto.get_rand_image_path, :alt => @produto.nome %></td>
          <td><p class="titulo">Nome:</p> <%= @produto.nome %></td>
        </tr>
        <tr>
          <td><p class="titulo">Modelo:</p> <%= @produto.titulo %></td>
        </tr>
        <tr>
          <td><p class="titulo">Pre&ccedil;o:</p> R$ <%= @produto.preco %></td>
        </tr>
        <tr>
          <td><p class="titulo">Marca:</p> <%= @produto.marca %></td>
        </tr>
        <tr>
          <td><p class="titulo">Fabricante:</p> <%= @produto.linkFabricante %></td>
        </tr>

        <tr>
          <td colspan="3" class="descricao"><p class="titulo">Descri&ccedil;&atilde;o:</p><br /><%= @produto.descricao %></td>
        </tr>

      </tbody>
    </table>
  </div>
</div>