<% content_for :head do %>
  <%= stylesheet_link_tag "produtos" %>
<% end %>

<div id="produtoProfile">
  <div id="content">
    <h1><%= @produto.nome %></h1>
    <h2><%= "#{@produto.titulo} - R$ #{@produto.preco}" %></h2>

    <table width="100%">
      <thead>
        <th>
          <td></td>
          <td></td>
          <td></td>
        </th>
      </thead>

      <tbody>
        <tr>
          <td rowspan="5" colspan="2"><%= image_tag @produto.get_rand_image_path, :alt => @produto.nome %></td>
          <td valign="top"><p class="titulo">Nome:</p> <%= @produto.nome %></td>
        </tr>
        <tr>
          <td valign="top"><p class="titulo">Modelo:</p> <%= @produto.modelo %></td>
        </tr>
        <tr>
          <td valign="top"><p class="titulo">Pre&ccedil;o:</p> R$ <%= @produto.preco %></td>
        </tr>
        <tr>
          <td valign="top"><p class="titulo">Marca:</p> <%= @produto.marca %></td>
        </tr>
      </tbody>
    </table>
    <div class="descricao">
        <%= render :file => "public/produtos/" + @produto.descricao_filename %>
        <% if File.exist? "public/produtos/_" + @produto.id.to_s + ".rhtml" %>
          <%= render :file => "public/produtos/_" + @produto.id.to_s + ".rhtml" %>
        <% else %>
           <%= @produto.descricao %>
        <% end %>
      

    </div>
  </div>
</div>