<% content_for :head do %>
  <%= stylesheet_link_tag "produtos" %>
<% end %>

<div id="produtoProfile">
  <div id="content">
    <h1><%= @produto.nome %></h1>
    <h2><%= "#{@produto.titulo} - R$ #{@produto.preco},00" %></h2>

    <table width="100%">
      <thead>
        <th>
          <td></td>
          <td></td>
          <td></td>
        </th>
      </thead>

      <tbody>
        <tr>
          <td rowspan="5" colspan="2"><%= image_tag @produto.get_rand_image_path, :size => "160x200", :alt => @produto.nome %></td>
          <td valign="top"><p class="titulo">Nome:</p> <%= @produto.nome %></td>
        </tr>
        <tr>
          <td valign="top"><p class="titulo">Marca:</p> <%= @produto.marca %></td>
        </tr>
        <tr>
          <td valign="top"><p class="titulo">Modelo:</p> <%= @produto.modelo %></td>
        </tr>
        <tr>
          <td valign="top">&nbsp;</td>
        </tr>
        <tr>
          <td valign="top"><p class="titulo">Pre&ccedil;o:</p> R$ <%= @produto.preco %>,00</td>
        </tr>
      </tbody>
    </table>
    <div class="descricao">
      <% unless @produto.descricao_filename == nil %>
        <%= render(:file => "public/produtos/#{@produto.descricao_filename}").tr("  ", " ").
            tr('^[<meta http-equiv=Content-Type content="text/html; charset=windows-1252">]', '');


        %>
      <% else %>
        <%= @produto.descricao %>
      <% end %>
      

    </div>
  </div>
</div>