<p>
  <b>Nome:</b>
  <%=h @produto.nome %>
</p>

<p>
  <b>Titulo:</b>
  <%=h @produto.titulo %>
</p>

<p>
  <b>Descricao:</b>
  <%=h @produto.descricao %>
</p>

<p>
  <b>Linkfabricante:</b>
  <%=h @produto.linkFabricante %>
</p>

<p>
  <b>Marca:</b>
  <%=h @produto.marca %>
</p>

<p>
  <b>Modelo:</b>
  <%=h @produto.modelo %>
</p>

<p>
  <b>Preco:</b>
  <%=h @produto.preco %>
</p>

<p>
  <b>Categoria:</b>
  <%=h @produto.categoria %>
</p>

<p>
  <b>Sub categoria:</b>
  <%=h @produto.sub_categoria %>
</p>

<p>
  <b>Promocao:</b>
  <%=h @produto.promocao %>
</p>


<%= link_to 'Edit', edit_produto_path(@produto) %> |
<%= link_to 'Back', produtos_path %>